* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans-Regular";
}

html, body {
    height: 100%;
}

/* Classes auxiliares */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.clear {
    clear:both;
}

.identar {
    text-indent: 5ch;
}

header {
    width: 100%;
    padding: 8px 0;
    background-color: white;
    height: 80px;
}

.logo img {
    width: 200px;
    height: auto;
    float: left;
    margin-top: -25px;
}
nav.menu-desktop {
    float:right
}
nav.menu-desktop ul {
    position: relative;
    top: 24px;
}

nav.menu-desktop li {
    padding: 0 10px;
    display: inline-block;
    
}
nav.menu-desktop a {
    text-decoration: none;
    color: #333;
    opacity: 0.8;
}

/* section main-bg */
section.main-bg {
    position: relative;
    width: 100%;
    padding: 232px 0;
    background-image: url('../img/banner-icr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
}

section.main-bg > .container {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
}

.overlay-2 {
    position: absolute;
    width: 100%;
    height: 900px;
    background-color: rgba(185, 180, 180, 0.1);
    left: 0;
}

section.main.bg:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section.main-bg q {
	width: 100%;
    padding: 10px;
    display: inline-block;
	color: white;
	text-align: center;
	font-size: 1.7em;
	font-family: "OpenSans-LightItalic";
	position: relative;
	top: -70px;
}
section.main-bg p {
    width: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: "OpenSans-LightItalic";
    font-size: 1.5em;
    position: relative;
    top: -50px;
    float: right;
}
.nossa-historia {
    display: flex;
    background-image: url('../img/4.png');
    background-repeat: no-repeat;
    background-position: -22% 115%;
    height: 900px;
    opacity: 0.8;
}

.conteudo-historia {
    padding: 50px;
    width:50%;
}

.conteudo-historia h2 {
    padding: 25px 0;
    font-family: "OpenSans-Light";
    font-weight: normal;
    font-size: 1.9em;
}

.conteudo-historia p {
    text-align: justify;
}

section.declaracao-fe {
    padding: 30px 0;
    text-align: center;
}

section.declaracao-fe h2 {
    font-family: "OpenSans-Light";
    font-weight: normal;
    font-size: 1.9em;
    padding:35px 0;
    opacity: 0.8;
}

.icones-documentos {
    padding: 15px;
}

.box-icone-single {
    float: left;
    width: 33.33%;
    position: relative;
    padding: 25px 0;
}
.box-icone-single i {
    font-size: 2.2em;
    color:#245c8d;
    position: relative;
    top: 25px;
}

.box-icone-single p {
    text-align: justify;
    padding: 60px;
}
.box-icone-single a {
    text-decoration: none;
    color:#245c8d;
}

.box-icone-single button {
    width: 73%;
    padding: 10px;
    background-color: #245c8d;
    color: white;
    font-size: 1em;
    font-weight: 600;
    font-family: "OpenSans-Bold";
    cursor: pointer;
    border: none;
}    

section.departamentos {
    padding: 30px 0;
    background-color: #ffeded;

}

section.departamentos > .container {
    display: flex;
    flex-wrap: wrap;
}
.departamento-container {
    width: 50%;
}
.sobre-container {
    width: 50%;
}
.departamento-container h2, .sobre-container h2 {
    font-family: "OpenSans-Light";
    opacity: 0.8;
}

.avatar-box {
    margin-top: 25px;
}

.img-avatar {
    padding: 30px 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-image: url('../img/img-avatar.png');
    position: relative;

    left: 20px;
}
.descricao-avatar {
    width: calc(100% - 100px);
    display: inline-block;
    padding: 0 25px;
    position:relative;
    top: -20px;
}
.descricao-avatar h3 {
    font-family: "OpenSans-Light";
    margin-left: 21px;
}
.descricao-avatar p {
    font-family: "OpenSans-LightItalic";
    font-size:0.98em;
    text-align: right;
    padding-top: 8px;
}

@media screen and (max-width: 768px){
    .box-icone-single {
        width: 100%;
    }
    section.main-bg q {
        width: 100%;
        font-size: 1.3em;
    }

    .departamento-container {
        width: 100%;
    }
    .sobre-container {
        width: 100%;
    }
    .nossa-historia {
        width: 100%;
    }
    .conteudo-historia {
        width: 100%;
    }
}